.knowledge {
  position: relative;
  background-color: $color-bg;

  &__icon {
    position: absolute;

    &--left {
      height: 10rem;
      left: 0;
      top: 0;

      @include media-queries(atMedium) {
        height: 12rem;
      }

      @include media-queries(atMediumLarge) {
        height: 15rem;
      }

      @include media-queries(atLarge) {
        height: 18rem;
      }
    }

    &--right {
      height: 15rem;
      right: 0;
      bottom: 0;

      @include media-queries(atMedium) {
        height: 20rem;
      }

      @include media-queries(atMediumLarge) {
        height: 25rem;
      }

      @include media-queries(atLarge) {
        height: 30rem;
      }
    }
  }

  .row {
    img {
      width: 100%;
      margin-top: 3rem;

      @include media-queries(atMedium) {
        margin-top: 0;
      }
    }
  }

  &__box {
    h2 {
      text-transform: uppercase;
      font-weight: $font-black;
      letter-spacing: 2px;
      color: $color-sub;
      margin-bottom: 1rem;
    }
  }
}
