$color-main: #a3d4c2;
$color-bg: #f5fffc;
$color-sub: #546a62;
$color-sub-dark: #335449;
$color-text: #707070;
$color-dark: #444;
$color-light: #f7f7f7;
$color-bg-dark: #ebeaef;
$color-light-gray: #ddd;

$font: 'Lato', sans-serif;
$font-heading: 'DM Serif Text', serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;
