$color-main: #a3d4c2;
$color-bg: #eefff9;
$color-sub: #546a62;
$color-sub-dark: #335449;
$color-text: #707070;
$color-dark: #444;
$color-light: #ddd;

$font: 'Lato', Arial, Helvetica, sans-serif;
$font-light: 100;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;
